.navBar {
  height: 4rem;
  width: 100%;
  display: flex;
  transform: translate(0, 28%);
  justify-content: center;
  background-color: transparent;
  padding: 0 3rem;
  position: fixed;
  top: 0;
  z-index: 20;
  box-sizing: border-box;
}
.navBar .navItems {
  padding: 0 3rem;
  background-color: #1e3372;
  color: white;
  border: 1px solid #1e3372;
  border-radius: 18px;
  height: 100%;
  max-width: 1200px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 20% 35% 20%;
}
.navBar .navItems .menu {
  overflow: hidden;
  z-index: 10;
}
.navBar .navItems .menu .menuItems .navMenu {
  display: flex;
  justify-content: space-around;
}
.navBar .navItems .menu .menuItems .hiddenRegister {
  display: none;
}
.navBar .navItems .register {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}
.navBar .navItems .register a {
  margin: 0 8px;
  padding: 4px 12px;
  border: 1px solid transparent;
  color: #1e3372;
  background-color: white;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 12px;
}
.navBar .navItems .hamburgerButton {
  display: none;
}

/* hamburger */
.hamburgerButton {
  display: none;
  height: 60px;
  display: inline-block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
}
.hamburgerButton .menuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin-right: 35%;
}
.hamburgerButton .menuButton .line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hamburgerButton .menuButton .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.hamburgerButton .menuButton .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 3;
}
.hamburgerButton .menuButton .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.hamburgerButton .opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}
.hamburgerButton .opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 3;
}
.hamburgerButton .opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}

@media screen and (max-width: 1200px) {
  .navBar {
    transform: translate(0, 0);
    background-color: #1e3372;
  }
  .navBar .navItems {
    padding: 0 0;
    grid-template-columns: 20% 20%;
  }
  .navBar .navItems .menu {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    background: #1e3372;
    width: 100vw;
    clip-path: circle(50px at 80% -5%);
    -webkit-clip-path: circle(0px at 85% 3%);
    transition: all 0.7s ease;
    pointer-events: none;
  }
  .navBar .navItems .menu .menuItems .navMenu {
    height: 100%;
    display: flex;
    justify-content: initial;
    margin-top: 120px;
    margin-left: 120px;
    flex-direction: column;
    transition: all 1s ease;
  }
  .navBar .navItems .menu .menuItems .hiddenRegister {
    display: initial;
    position: absolute;
    right: 10%;
    bottom: 5%;
  }
  .navBar .navItems .menu .menuItems .hiddenRegister .hiddenRegisterItems {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navBar .navItems .menu .menuItems .hiddenRegister .hiddenRegisterItems a {
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
  }
  .navBar .navItems .menu .menuItems a {
    padding: 25px 0;
    font-size: 46px;
    font-weight: 200;
    cursor: pointer;
  }
  .navBar .navItems .openMenu {
    background-color: #2550de;
    clip-path: circle(1550px at 90% -10%);
    -webkit-clip-path: circle(1550px at 90% -10%);
    pointer-events: all;
  }
  .navBar .navItems .register {
    display: none;
  }
  .navBar .navItems .hamburgerButton {
    display: initial;
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 500px) {
  .navBar {
    padding: 0 1rem;
  }
  .navBar .navItems .openMenu {
    background-color: black;
    left: 0;
    clip-path: circle(1100px at 90% -10%);
    -webkit-clip-path: circle(1100px at 90% -10%);
    pointer-events: all;
  }
  .navBar .navItems .openMenu .menuItems .navMenu {
    margin-left: 40px;
    transition: all 1s ease;
  }
}/*# sourceMappingURL=NavBar.module.css.map */