.contact {
  min-height: 100vh;
}

.contactPage {
  min-height: 80vh;
  background: linear-gradient(to top, white 0%, white 40%, #1e3372 40%, #1e3372 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}
.contactPage .contactSlogan {
  margin-top: 15vh;
  max-width: 1180px;
  width: 100%;
  font-size: 40px;
  font-weight: 500;
  color: white;
}
.contactPage .contactSlogan p {
  font-size: 25px;
  padding-bottom: 24px;
  font-weight: 300;
}
.contactPage .contactBox {
  max-width: 1200px;
  width: 100%;
  height: 50%;
  border: 1px solid transparent;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  color: #2550de;
}
.contactPage .contactBox .userQuery {
  width: 65%;
  background-color: white;
  padding: 45px 70px;
}
.contactPage .contactBox .userQuery h1 {
  font-size: 2.5rem;
  color: #1e3372;
  font-weight: 500;
}
.contactPage .contactBox .userQuery p {
  margin: 22px 0;
  display: flex;
  flex-direction: column;
}
.contactPage .contactBox .userQuery p label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #61677A;
}
.contactPage .contactBox .userQuery p input, .contactPage .contactBox .userQuery p textarea {
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #1e3372;
  outline: 0;
  padding-left: 8px;
  padding-bottom: 2px;
}
.contactPage .contactBox .userQuery button {
  color: white;
  background-color: #2550de;
  border: 1px solid #2550de;
  border-radius: 25px;
  margin-top: 18x;
  padding: 8px 18px;
  float: right;
  transition: all 0.4s ease;
}
.contactPage .contactBox .userQuery button:hover {
  color: #2550de;
  border: 1px solid #2550de;
  background-color: white;
}
.contactPage .contactBox .contactnIfo {
  color: white;
  width: 35%;
  background-color: #2550de;
  padding: 16px;
}
.contactPage .contactBox .contactnIfo h1 {
  font-size: 2rem;
  color: white;
  font-weight: 300;
  margin-top: 20px;
}
.contactPage .contactBox .contactnIfo .contactContacts {
  height: 68%;
  display: flex;
  align-items: center;
}
.contactPage .contactBox .contactnIfo .contactContacts .contacts {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 45px;
  height: 70%;
  justify-content: space-around;
  font-size: 16px;
}
.contactPage .contactBox .contactnIfo .contactContacts .contacts i {
  font-size: 25px;
  padding-right: 10px;
}
.contactPage .contactBox .contactnIfo .contactContacts .contacts .contactsItem {
  display: flex;
  align-items: center;
}
.contactPage .contactBox .contactnIfo .contactSocial {
  padding-left: 45px;
  font-size: 25px;
  display: flex;
  width: 45%;
  justify-content: space-between;
}
.contactPage .contactBox .contactnIfo .contactSocial i {
  transition: all 0.3s ease-in;
  padding: 8px 12px;
  border-radius: 100%;
}
.contactPage .contactBox .contactnIfo .contactSocial i:hover {
  background-color: #1e3372;
  padding: 8px 12px;
  border-radius: 100%;
}

.contactMap {
  height: 60vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 25px;
  margin-top: 5vh;
  background: linear-gradient(to top, #1e3372 0%, #1e3372 50%, white 50%, white 100%);
}
.contactMap h1 {
  max-width: 1440px;
  width: 100%;
  font-size: 40px;
  font-weight: 400;
  color: #2550de;
  padding-left: 25px;
  padding-bottom: 15px;
}
.contactMap .theMap {
  height: 90%;
  max-width: 1440px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.contactMap .theMap iframe {
  border: none;
}

@media screen and (max-width: 1150px) {
  .contactPage .contactSlogan {
    font-size: 25px;
  }
  .contactPage .contactBox {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .contactPage .contactBox .userQuery {
    width: 100%;
  }
  .contactPage .contactBox .contactInfo {
    height: 30vh;
    width: 100%;
  }
  .contactPage .contactBox .contactInfo h1 {
    margin-top: 0;
  }
  .contactPage .contactBox .contactInfo .contactContacts .contacts {
    margin-top: 0px;
  }
  .contactPage .contactBox .contactInfo .contactSocial {
    width: 30%;
  }
  .contactMap {
    margin-top: 5vh;
  }
}
@media screen and (max-width: 600px) {
  .contact {
    padding-top: 8vh;
  }
  .contactPage {
    background: linear-gradient(to top, white 0%, white 40%, #1e3372 40%, #1e3372 100%);
    padding: 0 1rem;
  }
  .contactPage .contactSlogan {
    margin-top: 18px;
  }
  .contactPage .contactSlogan h1 {
    font-size: 25px;
  }
  .contactPage .contactSlogan p {
    font-size: 16px;
  }
  .contactPage .contactBox .userQuery {
    width: 100%;
    padding: 25px 30px;
  }
  .contactPage .contactBox .userQuery h1 {
    font-size: 1.7rem;
    color: #1e3372;
    font-weight: 500;
  }
  .contactPage .contactBox .userQuery p {
    margin: 12px 0;
  }
  .contactPage .contactBox .userQuery p label {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .contactPage .contactBox .userQuery p input, .contactPage .contactBox .userQuery p textarea {
    font-size: 16px;
  }
  .contactPage .contactBox .userQuery button {
    font-size: 16px;
  }
  .contactPage .contactBox .contactInfo {
    width: 100%;
  }
  .contactPage .contactBox .contactInfo h1 {
    font-size: 1.5rem;
  }
  .contactPage .contactBox .contactInfo .contactContacts .contacts {
    font-size: 12px;
    padding-left: 8px;
  }
  .contactPage .contactBox .contactInfo .contactContacts .contacts i {
    font-size: 18px;
  }
  .contactPage .contactBox .contactInfo .contactSocial {
    padding-left: 0;
    font-size: 22px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .contactMap {
    margin-top: 0;
    padding: 0 0;
    height: 40vh;
  }
  .contactMap h1 {
    font-size: 1.7rem;
    font-weight: 400;
    padding-bottom: 5px;
  }
  .contactMap .theMap {
    height: 75%;
    max-width: 1440px;
    width: 100%;
    background-color: #CCCCCC;
    border-radius: 0;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}/*# sourceMappingURL=Contact.module.css.map */